:root {
  --color-1: #052e16;
  --color-2: #a3e635;
}

/* Propiedad Gradiente para el titulo */
#tituloGrowWeed {
  background-image: linear-gradient(
    to right,
    var(--color-1) 0%,
    var(--color-2) 100%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Resolucion para 360px - Mobiles Android */
@media screen and (min-width: 360px) {
  /* Contenedor General */
  #ContenedorGeneral_CHome2 {
    height: 100vh;
  }

  /* SubContenedor - 1 */
  #SubContenedor-1_CHome2 {
    display: flex;
    flex-direction: column;
  }

  /* SubContenedor - 2 */
  #SubContenedor-2_CHome2{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
  }

  /* Anchors */
  .Anchor_CHome2{
    background-color: #000000e5;
    width: 47%;
    margin: 5px;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
  }
}

/* Resolucion 414 - IPhone 11 */
@media screen and (min-width: 414px) {
  #contenedor-cards-refs {
    margin: 2rem 0 2rem 0;
  }
  #icon-card-refs {
    padding: 1.5rem;
  }
}
