:root {
  --color-1: #052e16;
  --color-2: #a3e635;
  --margin--titles: 7rem;
}

@keyframes iluminarBackground {
  from {
    background-color: rgba(0, 0, 0, 0.668);
  }
  to {
    background-color: rgba(0, 0, 0, 0.168);
  }
}

/* Resolucion para Mobiles Android */
@media screen and (min-width: 320px) {
  /* Contendor General - Imagen Grow Weed  */
  #Container-image-title_Home {
    height: 100vh;
    background-image: url("https://marketplace.canva.com/eEfkI/MAFktreEfkI/1/s2/canva-young-cannabis-plant-MAFktreEfkI.jpg");
    background-size: cover;
    background-position-x: -270px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    animation: iluminarBackground 2.3s ease;
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }

  /*! Contenedor Interior - 1 */
  .ContenedorInterior_CHome1:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  /*! Contenedor Interior - 2 */
  .ContenedorInterior_CHome1:nth-child(2) {
    display: none;
  }

  /* Titulo Grow Weed App */
  #Titulo-grow-weed {
    color: white;
    letter-spacing: 0.5px;
    margin-top: 0.5em;
  }

  /* Barra Navegacion */
  #BarraNavegacion_CHome1 {
    display: none;
  }
}

/* Resolucion - IPhone 11 */
@media screen and (min-width: 414px) {
  /* Contendor General - Imagen Grow Weed  */
  #Container-image-title_Home {
    padding: 2.2rem;
  }

  /* Titulo Grow Weed App */
  #Titulo-grow-weed {
    color: white;
    letter-spacing: 0.5px;
    margin-top: 0.5em;
    font-size: 2.5em;
  }

  /* Titulo Making Nature */
  #Titulo-making-nature {
    margin-top: 0.3em;
    font-size: 1.2em;
  }
}

/* Resolucion para Macbook Air - 1440px */
@media screen and (min-width: 1440px) {
  /* Contendor General - Imagen Grow Weed  */
  #Container-image-title_Home {
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    align-items: flex-end;
    flex-direction: row-reverse;
  }

  /*! Contenedor Interior - 1 */
  .ContenedorInterior_CHome1:nth-child(1) {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
  }

  /*! Contenedor Interior - 2 */
  .ContenedorInterior_CHome1:nth-child(2) {
    width: 50%;
    height: 100%;
    display: block;
  }

  /* Titulo Grow Weed App */
  #Titulo-grow-weed {
    color: white;
    letter-spacing: 0.5px;
    margin-right: var(--margin--titles);
    margin-top: 3rem;
    font-size: 4rem;
  }

  /* Titulo Making Nature */
  #Titulo-making-nature {
    font-size: 1.2em;
    margin-top: 0.8rem;
    margin-right: var(--margin--titles);
  }

  /* Barra Navegacion */
  #BarraNavegacion_CHome1 {
    /* border: 2px solid red; */
    display: block;
    height: 30%;
    margin-right: 6.5rem;
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 3rem;
    text-align: center;
  }

  /* Anchor - Link - Ref */
  .Anchor_CHome1 {
    /* border: 2px solid greenyellow; */
    color: whitesmoke;
    font-size: 1.5rem;
    width: 100%;
    border-right: 1px solid gainsboro;
    padding: 0.5rem;
    font-weight: 200;
    transition: 0.3s ease;
    padding-right: .8rem;
  }

  .Anchor_CHome1:hover{
    padding-right: 1.5rem;
  }
  
}
