@media screen and (min-width: 320px) {
  /* Contenedor General */
  #Contenedor-CI_1 {
   /*  border: 4px solid greenyellow; */
  }

  /* Titulo Seccion Informes */
  #titulo-seccionInformes {
    background-color: black;
    margin-top: 3rem;
    display: inline-block;
    padding: 15px;
    width: 60%;
    border-radius: 0px 20px 20px 0px;
    padding-left: 0.8rem;
    font-size: 17px;
  }

  /* Contenedor de la data de informes */
  #contenedor-dataInformes{
 /*      border: 4px solid blue; */
      margin: 1rem 0;
  }
  
  /* Titulo Nombre de cada item */
  #TituloNombreItem_CInformes1{
  /*   border: 2px solid blue; */
    width: 8rem;
    margin-right: 2.5rem;
  }

  /* Button Ver Mas */
  #ButtonVerMas_CInformes1{
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: black;
    border-radius: 5px;
    color: white;
  }

  /* Contenedor del icono delete */
  #ContenedorIconoDelete_CInformes1{
/*     background-color: red; */
    width: 5rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    background-color: red;
    border-radius: 5px;
  }

}
