/* 360px - Mobiles (Android) */
@media screen and (min-width: 360px) {
  /* Contenedor General de Desarrollo - 3 */
  #ContenedorGeneral_CDesarrollo_3 {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
  }
}
