/* Android - 360px */
@media screen and (min-width: 360px) {
  /* Contenedor General */
  #ContenedorGeneral_InformesID {
    /* border: 2px solid red; */
    padding: 1rem;
  }

  /* Propieadades del titulo  */
  #TituloDetalleInforme_InformesID {
  /*   border: 2px solid brown; */
    font-weight: 300;
    font-size: 22px;
    text-align: center;
    margin-top: 3rem;
  }

  /* Contenedor de los detalles  */
  #ContenedorDetalles_InformesID {
    /*  border: 2px solid blueviolet; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Label de los Items */
  .LabelItem_InformesID{
      font-weight: 700;
      color: rgb(22, 150, 22);
      margin: 1rem 0;
  }

  /* Class Bold */
  .ItemBold_InformerID{
    font-weight: bolder;
  }
}
