/* 360px - Mobiles Android */
@media screen and (min-width: 360px) {
  /* Contenedor General del Componente Desarrollo - 1 */
  #ContenedorGeneral_CDesarrollo_1 {
    border-radius: 10px;
    display: flex;
    margin-top: 1.2rem;
    flex-direction: column;
    justify-content: center;
  }

  /* Titulo Principal - Control Desarrollo */
  .TituloPrincipalDesarrollo_CDesarrollo_1 {
    color: #cae654;
    font-size: .8rem;
    font-weight: 600;
  }

  /* Titulo Grow Weed App */
  .TituloGWA_CDesarrollo_1{
      color: black;
      font-size: 1.8rem;
  }
}
