:root {
  --tamaño--icono: 3rem;
}

/* Resolucion 360px - Mobiles Android */
@media screen and (min-width: 360px) {
  /* ? Contenedor General */
  #ContenedorGeneral_CrearInforme {
    /* border: 2px solid blue; */
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* ? Contenedor del icono - IoMdAddCircle  */
  #ContenedorIcono_CrearInforme {
    /*  border: 2px solid red; */
    display: flex;
    justify-content: center;
    width: max-content;
  }

  /* * Propiedades del Icono */
  .IconoCrear {
    width: var(--tamaño--icono);
    height: var(--tamaño--icono);
    margin: 1rem 0;
  }

  /* ? Formulario para crear informes */
  #Form_CrearInformes_CrearInforme {
    /*  border: 2px solid slateblue; */
    margin-top: 2rem;
    height: 10rem;
    width: 90%;
  }

  /* ? Contenedor para cada input y su label */
  .ContenedorParaCadaInputLabel_CrearInforme {
    /* border: 2px solid aqua; */
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
  }

  /* * Propiedades del label */
  .ContenedorParaCadaInputLabel_CrearInforme > label {
    /* border: 2px solid brown; */
  }

  /* * Propiedades del input */
  .ContenedorParaCadaInputLabel_CrearInforme > input {
    /* border: 2px solid brown; */
    border-bottom: 1px solid gainsboro;
  }

  /* ? Contenedor de los botones del form */
  #ContenedorBotonesForm_CrearInforme {
    /* border: 2px solid blue; */
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    margin-top: 1rem;
  }

  .boton {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-radius: 50px;
  }

  .boton-activo {
    background-color: black;
    color: whitesmoke;
    padding: 20px;
    border-radius: 50px;
    background-color: limegreen;
  }
}
